---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <h1 class="text-6xl font-bold">404</h1>
  </div>
</BaseLayout>
