---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf());
---

<Layout>
	{
		sortedPosts.map((post) => (
		<article>
			<h2>
				<a href={post.data.permalink}>{post.data.title}</a>
			</h2>
			<p>{post.data.description}</p>
		</article>
	))
	}
</Layout>
