<!-- TODO: dark:prose-invert -->
<div
  class="w-full max-w-full prose prose-headings:text-black/95 prose-p:text-black/95 prose-p:text-[15px] prose-a:text-blue-600 prose-img:rounded-xl prose-code:text-base prose-code:font-normal"
>
  <slot />
</div>
